<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Adding the thruster units with the macro created in snippets.xacro -->
    <!--
    Important:
        - The thruster IDs must be given as integers and must be unique to each thruster unit
        - The thruster pose in the <origin> block is relative to the body's center of mass. Be
          aware that Gazebo does not use the SNAME convention per default.
    -->

    <!-- Port Bow -->
    <xacro:thruster_macro robot_namespace="$(arg namespace)" suffix_ns="$(arg suffix_ns)" thruster_id="0">
        <origin xyz="-0.27569 0.32286 -0.29202" rpy="1.570796327 0 2.35619449" />
    </xacro:thruster_macro>

    <!-- Starboard Bow -->
    <xacro:thruster_macro robot_namespace="$(arg namespace)" suffix_ns="$(arg suffix_ns)" thruster_id="1">
        <origin xyz="0.27569 0.32286 -0.29202" rpy="1.570796327 0 -2.35619449" />
    </xacro:thruster_macro>

    <!-- Port Stern -->
    <xacro:thruster_macro robot_namespace="$(arg namespace)" suffix_ns="$(arg suffix_ns)" thruster_id="2">
        <origin xyz="-0.28311 -0.31544 -0.29202" rpy="1.570796327 0 -2.35619449" />
    </xacro:thruster_macro>

    <!-- Starboard Stern -->
    <xacro:thruster_macro robot_namespace="$(arg namespace)" suffix_ns="$(arg suffix_ns)" thruster_id="3">
        <origin xyz="0.28311 -0.31544 -0.29202" rpy="1.570796327 0 2.35619449" />
    </xacro:thruster_macro>

</robot>
