<launch>

  <include file="$(find roboboat_localization)/launch/localization.launch" />

  <node pkg="roboboat_control" type="vel_cov" name="navsat_vel_cov" />

  <!-- This script requires the Estop/Heartbeat nodes -->
  <node pkg="roboboat_control" type="control_allocation" name="thrust_controller" respawn="true" output="screen"/>

  <include file="$(find roboboat_mapping)/launch/mapping.launch" />
  
  <include file="$(find roboboat_navigation)/launch/move_base.launch" />
  
</launch>