<?xml version="1.0"?>
<!--

\file move_base.launch

TODO:
* Determine if AMCL node/launch file is necessary.

Modified:
*
-->

<launch>

	<!-- Is this handled by RTabMap? -->
	<master auto="start"/>

	<!-- Node that saves the map -->
	<!-- TODO: This doesn't appear to work in isolation. Is there a roslaunch analog for the rosrun commands? I can't find one in documentation. -->
	<node name="map_saver" pkg="map_server" type="map_saver" respawn="true" output="screen">
		<param name="occ" value="50"/>
		<param name="free" value="50"/>
<!-- 		<remap from="map" to="/bow/grid_map"/> -->
	</node>

	<!-- Node that reads the map -->
	<!-- <node name="map_server" pkg="map_server" type="map_server" respawn="true" output="screen" args="$(find roboboat_mapping)/map/recent_map.pgm 0.05" /> -->

	<!-- Include AMCL for localization -->
	<!-- BA: Do we need this if we also have ekf_localization_node? -->
	<include file="$(find roboboat_navigation)/launch/amcl.launch" />

	<!-- Include move_base -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base">
		<rosparam file="$(find roboboat_navigation)/config/costmap_common_parameters.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find roboboat_navigation)/config/costmap_common_parameters.yaml" command="load" ns="global_costmap" />

		<!-- BA: Why do we/do we need both of these sets of rosparams? -->
		<rosparam file="$(find roboboat_navigation)/config/local_costmap_parameters.yaml" command="load" />
		<rosparam file="$(find roboboat_navigation)/config/global_costmap_parameters.yaml" command="load" />
		
		<!-- Local Planner Parameters -->
		<rosparam file="$(find roboboat_navigation)/config/base_local_planner_parameters.yaml" command="load" />
	</node>

</launch>