<launch>

	<!-- Point Cloud Synchronization Node, reading Point Clouds from the two ZEDs -->
	<node type="laser_scan_assembler" pkg="laser_assembler" name="laser_concatenation">
		<remap from="scan" to="combined_scan"/>
		<param name="max_scans" type="int" value="20" />
		<param name="fixed_frame" type="string" value="base_link" />
	</node>

	<node type="point_cloud_assembler" pkg="laser_assembler" name="PCL_concatenation">
		<remap from="cloud" to="combined_cloud"/>
		<param name="max_clouds" type="int" value="5"/>
		<param name="fixed_frame" type="string" value="base_link"/>
	</node>

</launch>