<launch>

	<include file="$(find point_cloud_converter)/launch/point_cloud_converter.launch"/>

	<!-- Point Cloud Synchronization Node, reading Point Clouds from the two ZEDs -->
	<node type="laser_scan_assembler" pkg="laser_assembler" name="laser_concatenation">
		<!-- <remap from="scan" to="combined_scan"/> -->
		<param name="max_scans" type="int" value="20" />
		<param name="fixed_frame" type="string" value="base_link" />
	</node>

	<!-- These can be accessed through a service call -->
	<node type="point_cloud_assembler" pkg="laser_assembler" name="PCL_concatenation">
		<remap from="cloud" to="points_out"/> -->
		<param name="max_clouds" type="int" value="20"/>
		<param name="fixed_frame" type="string" value="base_link"/>
	</node>

	<!-- The service call will be handled by this node -->
	<node type="PCLServiceCall" pkg="roboboat_concatenation" name="PCLServiceCall"/>

</launch>